{% extends 'admin/base.html' %}

{% load static %}
{% load i18n %}



<div id="header">
        <div id="branding">
        {% block branding %}
   
            <h1 id="head">
                <img src="{% static 'images/logo.png' %}" alt="All User Orders" height="35" width="40" class="brand_img"> Admin area
            </h1>
             
             
        {% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% trans 'View site' %}</a> /
                    <a href="{% url 'allorders' %}">{% trans 'See Orders' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>


{% block extrastyle %}
   
   <link rel="stylesheet" href="{% static 'css/admin.css' %}">

{% endblock %}

